.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/1st.jpg");
  background-position: center;
  background-size: cover;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
}
.name {
  margin-top: 8rem;
}
.shortdesc {
  width: 75%;
}
.myskills {
  background-color: #dcedc1;
}
.myskills img {
  width: 6.5rem;
  height: 6.5rem;
  transition: 1s;
}
.myeducation {
  background-color: #a8e6cf;
}
.bi-list {
  color: white;
}
.navbar-toggler {
  border: 1px solid white !important;
}
.myproject p {
  font-size: 1.5rem;
}
.contactme {
  background-color: #4898ee;
}
.contactme .list-unstyled i {
  font-size: 2rem;
}
.nav-colored {
  background-color: #000;
}
.nav-transparent {
  background-color: transparent;
}
.myskills img:hover {
  width: 8.5rem;
  height: 8.5rem;
}
.card {
  transition: 1s;
}
.card:hover {
  transform: scale(1.3);
}
.smedia li {
  transition: 1s;
}
.smedia li:hover {
  transform: scale(1.3);
}
.resumedesc {
  text-align: justify;
}
.secondarycolor {
  background-color: #2f3c45 !important;
}
.primarycolor {
  background-color: #374457 !important;
}
.details {
  background-color: #d2d3d5 !important;
}
.hight {
  height: 3rem;
}
.socialink {
  font-size: small;
}
.bg-btn {
  background-color: #2e3c47;
}
.profilepic {
  text-align: center;
  vertical-align: middle;
}
.link-info {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.text-justify {
}
@media (max-width: 480px) {
  .text-justify {
    text-align: justify !important;
  }
  .shortdesc{
    width: 96% !important;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }
}
